.hero.is-info {
    background: linear-gradient( to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../images/welcome.jpg') no-repeat center center fixed;
    /* background: url('../images/welcome.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero.is-info .title {
    color: #FBEEC1;
}

.hero.hero.is-info .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
    color: #DAAD86;;
}

