{% extends 'base.html' %}

{% load staticfiles%}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
    
{% endblock head %}



{% block content %}


    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-7">
                    <h1 class="title is-size-1">
                        Dashboard Boilerplate
                    </h1>
                    <h2 class="subtitle">
                        do whatever you want with it...
                    </h2>
                        <a class="button is-medium is-white is-outlined" href="/login">
                            <span class="icon">
                                <i class="fa fa-sign-in"></i>
                            </span>
                            <span>Login</span>
                        </a>
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="{% static 'js/bulma.js' %}"></script>

{% endblock content %}
    
